// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.menubar{
    color:white;
    font-size: 14px;
}

body {
    background-size:cover;
    background-image:url(../../storage/app/public/background.jpg);
  }

.top {
    color:#DCDCDC;
    font-size: 92px;
    font-family: Gothic MB101 DemiBold;
    text-align:center;
    text-shadow: 1px 2px 3px #808080;

    p{
        font-family:  Reimin Light;
        font-size: 30px;
    }
}

.start {
    text-shadow: 1px 2px 3px #808080;
    font-size: 55px;
    text-align:center;
    font-family: TBCineRGothic M;

    a{
        color:#f8b500;
        text-decoration:none;
    }


}

.right {
    text-align: right;
    text-shadow: 1px 2px 3px #808080;
    color:#DCDCDC;
}

.box {
    background-color: lightgray;
    padding: 10px;
    margin: 100px;
    width: 300px;
    height: 200px;

    p{
        background-color: black;
        color:lightgray;
    }

    ul{
        background-color: blue;
        color:lightgray;
    }
  }


